* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 900px;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
  text-align: center;
}
.header .headerbox {
  padding-top: 350px;
}
.header h1 {
  font-size: 100px;
}
.header h3 {
  font-size: 30px;
}
.header button {
  width: 180px;
  height: 60px;
  margin-top: 50px;
  background-color: #1d809f;
  color: white;
  border: none;
  border-radius: 10px;
}

.about {
  width: 100%;
  height: 400px;
  background-color: #f8f9fa;
  text-align: center;
}
.about .aboutbox {
  padding-top: 150px;
}
.about h2 {
  font-size: 30px;
}
.about p {
  font-size: 20px;
}
.about .unsplash {
  text-decoration: none;
  color: black;
}
.about .unsplash:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.about button {
  width: 180px;
  height: 60px;
  margin-top: 50px;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 10px;
}

.services {
  width: 100%;
  height: 600px;
  background-color: #1d809f;
  text-align: center;
}
.services .servicestext {
  padding-top: 50px;
}
.services .servicestext h3 {
  font-size: 20px;
  color: #ecb807;
}
.services .servicestext h2 {
  font-size: 60px;
  color: white;
}
.services .servicesbox {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.services .servicesbox .box1 {
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: box1;
}
.services .servicesbox .circle1 {
  width: 112px;
  height: 112px;
  background-color: white;
  border-radius: 112px;
  padding-top: 40px;
  font-size: 30px;
  color: #1d809f;
}
.services .servicesbox h4 {
  font-size: 30px;
}
.services .servicesbox p {
  font-size: 20px;
}
.services .servicesbox .box2 {
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.services .servicesbox .circle2 {
  width: 112px;
  height: 112px;
  background-color: white;
  border-radius: 112px;
  padding-top: 40px;
  font-size: 30px;
  color: #1d809f;
}
.services .servicesbox h4 {
  font-size: 30px;
}
.services .servicesbox p {
  font-size: 20px;
}
.services .servicesbox .box3 {
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.services .servicesbox .circle3 {
  width: 112px;
  height: 112px;
  background-color: white;
  border-radius: 112px;
  padding-top: 40px;
  font-size: 30px;
  color: #1d809f;
}
.services .servicesbox h4 {
  font-size: 30px;
  color: white;
}
.services .servicesbox p {
  font-size: 20px;
  color: white;
}
.services .servicesbox .box4 {
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.services .servicesbox .circle4 {
  width: 112px;
  height: 112px;
  background-color: white;
  border-radius: 112px;
  padding-top: 40px;
  font-size: 30px;
  color: #1d809f;
}
.services .servicesbox h4 {
  font-size: 30px;
}
.services .servicesbox p {
  font-size: 20px;
}

.call {
  padding-top: 300px;
}

.callout {
  width: 100%;
  height: 750px;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
  text-align: center;
}
.callout .calloutbox h2 {
  font-size: 80px;
}
.callout .calloutbox button {
  width: 180px;
  height: 60px;
  margin-top: 50px;
  background-color: #1d809f;
  color: white;
  border: none;
  border-radius: 10px;
}

.portfolio {
  width: 100%;
  height: 1000px;
  text-align: center;
}
.portfolio .portfoliotext {
  padding-top: 50px;
}
.portfolio .portfoliotext h3 {
  font-size: 20px;
  color: #ecb807;
}
.portfolio .portfoliotext h2 {
  font-size: 50px;
}
.portfolio .portfoliobox {
  padding-top: 60px;
  display: grid;
  justify-content: center;
  grid-template-areas: "box1 box2" "box3 box4";
}
.portfolio .portfoliobox img {
  width: 600px;
  height: 400px;
}
.portfolio .portfoliobox .box1 {
  grid-area: box1;
}
.portfolio .portfoliobox .box1 img:hover {
  padding: 50px;
  transition: 0.5s;
}
.portfolio .portfoliobox .box2 {
  grid-area: box2;
}
.portfolio .portfoliobox .box2 img:hover {
  padding: 50px;
  transition: 0.5s;
}
.portfolio .portfoliobox .box3 {
  grid-area: box3;
}
.portfolio .portfoliobox .box3 img:hover {
  padding: 50px;
  transition: 0.5s;
}
.portfolio .portfoliobox .box4 {
  grid-area: box4;
}
.portfolio .portfoliobox .box4 img:hover {
  padding: 50px;
  transition: 0.5s;
}

.buttons {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #1d809f;
}
.buttons .box {
  padding-top: 120px;
}
.buttons .box h2 {
  font-size: 40px;
}
.buttons .box .clickme {
  margin-top: 30px;
  width: 150px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 10px;
}
.buttons .box .lookatme {
  margin-top: 30px;
  width: 150px;
  height: 60px;
  background-color: #212529;
  border: none;
  border-radius: 10px;
  color: white;
}

.textcenter {
  width: 100%;
  height: 300px;
  background-color: #f8f9fa;
  text-align: center;
}
.textcenter .icons {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.textcenter .facebook {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #1d809f;
  color: white;
  font-size: 30px;
  padding-top: 16px;
}
.textcenter .twitter {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #1d809f;
  color: white;
  font-size: 30px;
  padding-top: 16px;
}
.textcenter .github {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #1d809f;
  color: white;
  font-size: 30px;
  padding-top: 16px;
}
.textcenter p {
  padding-top: 100px;
}/*# sourceMappingURL=main.css.map */